# container_commands:
#   01-storage-set-permissions:
#     test: test -d "storage"
#     command: sudo chgrp -R webapp storage
#   02-storage-set-permissions:
#     test: test -d "storage"
#     command: sudo chmod -R ug+wx storage
#   # Ensure the bootstrap/cache folder is writable if it exists.
#   03-bootstrap-set-permissions:
#     test: test -d "bootstrap/cache"
#     command: sudo chgrp -R webapp bootstrap/cache
#   04-bootstrap-set-permissions:
#     test: test -d "bootstrap/cache"
#     command: sudo chmod -R ug+wx bootstrap/cache
